# Data Cleaning

Data cleaning, also known as data cleansing or data scrubbing, is the process of identifying and correcting (or removing) errors, inconsistencies, and inaccuracies in datasets. It ensures that the data is accurate, complete, and reliable for analysis and decision-making.

In [5]:
import pandas as pd

# Load an Excel file
df = pd.read_excel("raw_large_dataset.xlsx", sheet_name="Sheet1")

# Display first few rows
print(df.head())

     ID     Name   Age    Salary  Join_Date        Country  Experience_Years  \
0  1002    David  35.0  1.000000 2020-12-05  United States                 5
1  1003      Eve  25.0  0.333333 2020-12-05         Mexico                 3
2  1005  Charlie  30.0  0.333333 2021-01-10  United States                 5
3  1006      Eve  40.0  0.511167 2021-01-10         Canada                 5
4  1007      Eve  30.0  0.511167 2021-03-15         Canada                 3

        DP  Department_Finance  Department_HR  Department_IT  Department_nan
0  Finance                   0              0            0.0               1
1      NaN                   0              1            0.0               0
2      NaN                   0              0            0.0               1
3      NaN                   0              0            1.0               0
4      NaN                   0              0            1.0               0

In [16]:
# Check missing values
missing_values = df.isnull().sum()
missing_values

ID                     0
Name                   0
Age                   11
Salary                 9
Join_Date              0
Country                0
Experience_Years       0
Department_Finance     0
Department_HR          0
Department_IT          7
Department_nan         0
dtype: int64

In [17]:
# Step 1: Handling Missing Data
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Salary'].fillna(df['Salary'].mean(), inplace=True)
df['Department_IT'].fillna('Unknown', inplace=True)

C:\Users\Fanuel\AppData\Local\Temp\ipykernel_15848\2560028756.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
C:\Users\Fanuel\AppData\Local\Temp\ipykernel_15848\2560028756.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(), inplace=True)
C:\Users\Fanuel\AppData\Local\Temp\ipykernel_15848\2560028756.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Department_IT'].fillna('Unknown', inplace=True)
C:\Users\Fanuel\AppData\Local\Temp\ipykernel_15848\2560028756.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Department_IT'].fillna('Unknown', inplace=True)

In [18]:
# Step 2: Removing Duplicates
df.drop_duplicates(subset=['ID'], keep='first', inplace=True)

In [8]:
# Step 3: Standardizing Data Formats
df['Name'] = df['Name'].str.strip()
df['Country'] = df['Country'].str.lower().replace({'usa': 'united states', 'canada': 'canada', 'mexico': 'mexico'})
df['Join_Date'] = pd.to_datetime(df['Join_Date'], errors='coerce')

In [9]:
# Step 4: Correcting Inconsistent Data
df['Country'] = df['Country'].str.title()

In [ ]:
# Step 5: Handling Outliers
df.loc[df['Experience_Years'] < 0, 'Experience_Years'] = df['Experience_Years'].median()

In [20]:
# Step 6: Normalizing & Scaling Data (Min-Max Scaling for Salary)
df['Salary'] = (df['Salary'] - df['Salary'].min()) / (df['Salary'].max() - df['Salary'].min())

df.head()

,ID,Name,Age,Salary,Join_Date,Country,Experience_Years,Department_Finance,Department_HR,Department_IT,Department_nan
0,1002,David,35.0,1.000000,2020-12-05,United States,5,0,0,0.0,1
1,1003,Eve,25.0,0.333333,2020-12-05,Mexico,3,0,1,0.0,0
2,1005,Charlie,30.0,0.333333,2021-01-10,United States,5,0,0,0.0,1
3,1006,Eve,40.0,0.511167,2021-01-10,Canada,5,0,0,1.0,0
4,1007,Eve,30.0,0.511167,2021-03-15,Canada,3,0,0,1.0,0

In [11]:
# Step 7: Encoding Categorical Data (One-Hot Encoding for Department)
df = pd.get_dummies(df, columns=['Department_IT'])

In [ ]:
# Step 10: Data Validation & Quality Checks
df.dropna(subset=['Join_Date'], inplace=True)  # Removing rows with invalid dates

In [ ]:
# Display cleaned dataset
print(df.head())
print(df.shape)

# Exercises

In [81]:
# Data Cleaning Exercises

import pandas as pd
import numpy as np

# Creating a sample dataset with data quality issues for exercises
data = {
    'ID': [101, 102, 103, 104, 105, 106, 107, 107],  # Duplicate ID
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Grace '],  # Extra space in last entry
    'Age': [25, np.nan, 30, 45, 29, 35, 27, 27],  # Missing age value
    'Salary': [50000, 60000, np.nan, 80000, 45000, 70000, 55000, 55000],  # Missing salary value
    'Join_Date': ['2021-01-10', '2020-12-05', '2021-03-15', '2020-11-25', '2021-07-19', '2021-02-22', 'Invalid Date', '2021-08-30'],  # Invalid date format
    'Country': ['USA', 'usa', 'United States', 'Canada', 'canada', 'Mexico', 'MEXICO', 'UK'],  # Inconsistent country names
    'Department': ['HR', 'IT', 'HR', 'Finance', 'IT', np.nan, 'Finance', 'HR'],  # Missing department
    'Experience_Years': [3, -1, 5, 10, 4, 7, 3, 3],  # Negative value error
}

## Exercise 1

Identify and remove duplicate rows based on the 'ID' column

In [82]:
df = pd.DataFrame(data)

df_cleaned = df.drop_duplicates(subset=['ID'], keep='first')

print(df_cleaned)

    ID     Name   Age   Salary     Join_Date        Country Department  \
0  101    Alice  25.0  50000.0    2021-01-10            USA         HR
1  102      Bob   NaN  60000.0    2020-12-05            usa         IT
2  103  Charlie  30.0      NaN    2021-03-15  United States         HR
3  104    David  45.0  80000.0    2020-11-25         Canada    Finance
4  105      Eve  29.0  45000.0    2021-07-19         canada         IT
5  106    Frank  35.0  70000.0    2021-02-22         Mexico        NaN
6  107    Grace  27.0  55000.0  Invalid Date         MEXICO    Finance

   Experience_Years
0                 3
1                -1
2                 5
3                10
4                 4
5                 7
6                 3

In [28]:
df_cleaned.head()

,ID,Name,Age,Salary,Join_Date,Country,Department,Experience_Years
0,101,Alice,25.0,50000.000000,2021-01-10,USA,HR,3
1,102,Bob,29.0,60000.000000,2020-12-05,usa,IT,-1
2,103,Charlie,30.0,59285.714286,2021-03-15,United States,HR,5
3,104,David,45.0,80000.000000,2020-11-25,Canada,Finance,10
4,105,Eve,29.0,45000.000000,2021-07-19,canada,IT,4

## Exercise 2

Handle missing values in 'Age', 'Salary', and 'Department'.

In [83]:
df_cleaned['Age'].fillna(df['Age'].median(), inplace=True)
df_cleaned['Salary'].fillna(df['Salary'].mean(), inplace=True)
df_cleaned['Department'].fillna(df['Department'].mode()[0], inplace=True)
#df_cleaned['Join_Date'].fillna(df['Join_Date'].mode()[0], inplace=True)
print(df_cleaned)
df_cleaned.head()

    ID     Name   Age        Salary     Join_Date        Country Department  \
0  101    Alice  25.0  50000.000000    2021-01-10            USA         HR
1  102      Bob  29.0  60000.000000    2020-12-05            usa         IT
2  103  Charlie  30.0  59285.714286    2021-03-15  United States         HR
3  104    David  45.0  80000.000000    2020-11-25         Canada    Finance
4  105      Eve  29.0  45000.000000    2021-07-19         canada         IT
5  106    Frank  35.0  70000.000000    2021-02-22         Mexico         HR
6  107    Grace  27.0  55000.000000  Invalid Date         MEXICO    Finance

   Experience_Years
0                 3
1                -1
2                 5
3                10
4                 4
5                 7
6                 3

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

,ID,Name,Age,Salary,Join_Date,Country,Department,Experience_Years
0,101,Alice,25.0,50000.000000,2021-01-10,USA,HR,3
1,102,Bob,29.0,60000.000000,2020-12-05,usa,IT,-1
2,103,Charlie,30.0,59285.714286,2021-03-15,United States,HR,5
3,104,David,45.0,80000.000000,2020-11-25,Canada,Finance,10
4,105,Eve,29.0,45000.000000,2021-07-19,canada,IT,4

## Exercise 3

Standardize 'Country' names to maintain consistency

In [84]:
df_cleaned['Country'] = df_cleaned['Country'].str.lower().replace({'usa': 'united states', 'canada': 'canada', 'mexico': 'mexico'})

print(df_cleaned)
df_cleaned.head()

    ID     Name   Age        Salary     Join_Date        Country Department  \
0  101    Alice  25.0  50000.000000    2021-01-10  united states         HR
1  102      Bob  29.0  60000.000000    2020-12-05  united states         IT
2  103  Charlie  30.0  59285.714286    2021-03-15  united states         HR
3  104    David  45.0  80000.000000    2020-11-25         canada    Finance
4  105      Eve  29.0  45000.000000    2021-07-19         canada         IT
5  106    Frank  35.0  70000.000000    2021-02-22         mexico         HR
6  107    Grace  27.0  55000.000000  Invalid Date         mexico    Finance

   Experience_Years
0                 3
1                -1
2                 5
3                10
4                 4
5                 7
6                 3

<ipython-input-84-7c0d66e2437a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Country'] = df_cleaned['Country'].str.lower().replace({'usa': 'united states', 'canada': 'canada', 'mexico': 'mexico'})

,ID,Name,Age,Salary,Join_Date,Country,Department,Experience_Years
0,101,Alice,25.0,50000.000000,2021-01-10,united states,HR,3
1,102,Bob,29.0,60000.000000,2020-12-05,united states,IT,-1
2,103,Charlie,30.0,59285.714286,2021-03-15,united states,HR,5
3,104,David,45.0,80000.000000,2020-11-25,canada,Finance,10
4,105,Eve,29.0,45000.000000,2021-07-19,canada,IT,4

## Exercise 4

Convert 'Join_Date' to datetime format, handling invalid entries

In [85]:
df_cleaned['Join_Date'] = pd.to_datetime(df_cleaned['Join_Date'], errors='coerce')
print(df_cleaned)

    ID     Name   Age        Salary  Join_Date        Country Department  \
0  101    Alice  25.0  50000.000000 2021-01-10  united states         HR
1  102      Bob  29.0  60000.000000 2020-12-05  united states         IT
2  103  Charlie  30.0  59285.714286 2021-03-15  united states         HR
3  104    David  45.0  80000.000000 2020-11-25         canada    Finance
4  105      Eve  29.0  45000.000000 2021-07-19         canada         IT
5  106    Frank  35.0  70000.000000 2021-02-22         mexico         HR
6  107    Grace  27.0  55000.000000        NaT         mexico    Finance

   Experience_Years
0                 3
1                -1
2                 5
3                10
4                 4
5                 7
6                 3

<ipython-input-85-7c111cf406d6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Join_Date'] = pd.to_datetime(df_cleaned['Join_Date'], errors='coerce')

## Exercise 5

Remove extra spaces in the 'Name' column.

In [86]:
df_cleaned['Name'] = df_cleaned['Name'].str.strip()
print(df_cleaned)

    ID     Name   Age        Salary  Join_Date        Country Department  \
0  101    Alice  25.0  50000.000000 2021-01-10  united states         HR
1  102      Bob  29.0  60000.000000 2020-12-05  united states         IT
2  103  Charlie  30.0  59285.714286 2021-03-15  united states         HR
3  104    David  45.0  80000.000000 2020-11-25         canada    Finance
4  105      Eve  29.0  45000.000000 2021-07-19         canada         IT
5  106    Frank  35.0  70000.000000 2021-02-22         mexico         HR
6  107    Grace  27.0  55000.000000        NaT         mexico    Finance

   Experience_Years
0                 3
1                -1
2                 5
3                10
4                 4
5                 7
6                 3

<ipython-input-86-2bab760241bd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Name'] = df_cleaned['Name'].str.strip()

## Exercise 6

Fix negative values in 'Experience_Years'

In [89]:
df_cleaned.loc[df_cleaned['Experience_Years'] < 0, 'Experience_Years'] = df_cleaned['Experience_Years'].median()

print(df_cleaned)

    ID     Name   Age        Salary  Join_Date        Country Department  \
0  101    Alice  25.0  50000.000000 2021-01-10  united states         HR
1  102      Bob  29.0  60000.000000 2020-12-05  united states         IT
2  103  Charlie  30.0  59285.714286 2021-03-15  united states         HR
3  104    David  45.0  80000.000000 2020-11-25         canada    Finance
4  105      Eve  29.0  45000.000000 2021-07-19         canada         IT
5  106    Frank  35.0  70000.000000 2021-02-22         mexico         HR
6  107    Grace  27.0  55000.000000        NaT         mexico    Finance

   Experience_Years
0                 3
1                 0
2                 5
3                10
4                 4
5                 7
6                 3

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [88]:
# by taking absolute values
df_cleaned['Experience_Years'] = df_cleaned['Experience_Years'].apply(lambda x: abs(x) if x < 0 else x)

print(df_cleaned)

    ID     Name   Age        Salary  Join_Date        Country Department  \
0  101    Alice  25.0  50000.000000 2021-01-10  united states         HR
1  102      Bob  29.0  60000.000000 2020-12-05  united states         IT
2  103  Charlie  30.0  59285.714286 2021-03-15  united states         HR
3  104    David  45.0  80000.000000 2020-11-25         canada    Finance
4  105      Eve  29.0  45000.000000 2021-07-19         canada         IT
5  106    Frank  35.0  70000.000000 2021-02-22         mexico         HR
6  107    Grace  27.0  55000.000000        NaT         mexico    Finance

   Experience_Years
0                 3
1                 0
2                 5
3                10
4                 4
5                 7
6                 3

<ipython-input-88-76e0e168df9d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Experience_Years'] = df_cleaned['Experience_Years'].apply(lambda x: abs(x) if x < 0 else x)

In [87]:
df_cleaned['Experience_Years'] = df_cleaned['Experience_Years'].apply(lambda x: 0 if x < 0 else x)

print(df_cleaned)

    ID     Name   Age        Salary  Join_Date        Country Department  \
0  101    Alice  25.0  50000.000000 2021-01-10  united states         HR
1  102      Bob  29.0  60000.000000 2020-12-05  united states         IT
2  103  Charlie  30.0  59285.714286 2021-03-15  united states         HR
3  104    David  45.0  80000.000000 2020-11-25         canada    Finance
4  105      Eve  29.0  45000.000000 2021-07-19         canada         IT
5  106    Frank  35.0  70000.000000 2021-02-22         mexico         HR
6  107    Grace  27.0  55000.000000        NaT         mexico    Finance

   Experience_Years
0                 3
1                 0
2                 5
3                10
4                 4
5                 7
6                 3

<ipython-input-87-964ad7251a17>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Experience_Years'] = df_cleaned['Experience_Years'].apply(lambda x: 0 if x < 0 else x)

In [90]:
df_cleaned['Experience_Years'] = df_cleaned['Experience_Years'].apply(lambda x: df['Experience_Years'].median() if x < 0 else x)
print(df_cleaned)

    ID     Name   Age        Salary  Join_Date        Country Department  \
0  101    Alice  25.0  50000.000000 2021-01-10  united states         HR
1  102      Bob  29.0  60000.000000 2020-12-05  united states         IT
2  103  Charlie  30.0  59285.714286 2021-03-15  united states         HR
3  104    David  45.0  80000.000000 2020-11-25         canada    Finance
4  105      Eve  29.0  45000.000000 2021-07-19         canada         IT
5  106    Frank  35.0  70000.000000 2021-02-22         mexico         HR
6  107    Grace  27.0  55000.000000        NaT         mexico    Finance

   Experience_Years
0                 3
1                 0
2                 5
3                10
4                 4
5                 7
6                 3

<ipython-input-90-af9351c2ee4e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Experience_Years'] = df_cleaned['Experience_Years'].apply(lambda x: df['Experience_Years'].median() if x < 0 else x)

## Exercise 7

Normalize 'Salary' using Min-Max scaling

In [91]:
from sklearn.preprocessing import MinMaxScaler

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Reshape 'Salary' for scaling (needed for sklearn)
df_cleaned['Salary'] = scaler.fit_transform(df_cleaned[['Salary']])

# Display updated DataFrame
print(df_cleaned)

    ID     Name   Age    Salary  Join_Date        Country Department  \
0  101    Alice  25.0  0.142857 2021-01-10  united states         HR
1  102      Bob  29.0  0.428571 2020-12-05  united states         IT
2  103  Charlie  30.0  0.408163 2021-03-15  united states         HR
3  104    David  45.0  1.000000 2020-11-25         canada    Finance
4  105      Eve  29.0  0.000000 2021-07-19         canada         IT
5  106    Frank  35.0  0.714286 2021-02-22         mexico         HR
6  107    Grace  27.0  0.285714        NaT         mexico    Finance

   Experience_Years
0                 3
1                 0
2                 5
3                10
4                 4
5                 7
6                 3

<ipython-input-91-3bcd056d44da>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Salary'] = scaler.fit_transform(df_cleaned[['Salary']])

In [92]:
df_cleaned['Salary'] = (df_cleaned['Salary'] - df_cleaned['Salary'].min()) / (df_cleaned['Salary'].max() - df_cleaned['Salary'].min())

df_cleaned.head()

<ipython-input-92-88790ab90d26>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Salary'] = (df_cleaned['Salary'] - df_cleaned['Salary'].min()) / (df_cleaned['Salary'].max() - df_cleaned['Salary'].min())

,ID,Name,Age,Salary,Join_Date,Country,Department,Experience_Years
0,101,Alice,25.0,0.142857,2021-01-10,united states,HR,3
1,102,Bob,29.0,0.428571,2020-12-05,united states,IT,0
2,103,Charlie,30.0,0.408163,2021-03-15,united states,HR,5
3,104,David,45.0,1.000000,2020-11-25,canada,Finance,10
4,105,Eve,29.0,0.000000,2021-07-19,canada,IT,4

## Exercise 8

One-hot encode the 'Department' column

In [93]:
# One-hot encoding the 'Department' column
df_cleaned = pd.get_dummies(df_cleaned, columns=['Department'], prefix='Dept')

# Display updated DataFrame
print(df_cleaned)

    ID     Name   Age    Salary  Join_Date        Country  Experience_Years  \
0  101    Alice  25.0  0.142857 2021-01-10  united states                 3
1  102      Bob  29.0  0.428571 2020-12-05  united states                 0
2  103  Charlie  30.0  0.408163 2021-03-15  united states                 5
3  104    David  45.0  1.000000 2020-11-25         canada                10
4  105      Eve  29.0  0.000000 2021-07-19         canada                 4
5  106    Frank  35.0  0.714286 2021-02-22         mexico                 7
6  107    Grace  27.0  0.285714        NaT         mexico                 3

   Dept_Finance  Dept_HR  Dept_IT
0             0        1        0
1             0        0        1
2             0        1        0
3             1        0        0
4             0        0        1
5             0        1        0
6             1        0        0

In [94]:
# Step 7: Encoding Categorical Data (One-Hot Encoding for Department)
df_cleaned = pd.get_dummies(df_cleaned, columns=['Department_IT'])

KeyError: "None of [Index(['Department_IT'], dtype='object')] are in the [columns]"

## Exercise 9

 Write a function that combines all the above processes

In [114]:
import pandas as pd
import numpy as np

def  clean_and_preprocess_data(df):
     """Cleans and preprocesses the dataset by handling duplicates, missing values, 
      inconsistent data, negative values, and encoding categorical variables."""
    
    # 1. Remove duplicate IDs, keeping the first occurrence
   # df = pd.DataFrame(data)
     df = df.drop_duplicates(subset=['ID'], keep='first')

    # 2. Handle missing values  
     df['Age'].fillna(df['Age'].median(), inplace=True)
     df['Salary'].fillna(df['Salary'].mean(), inplace=True)
     df['Department'].fillna(df['Department'].mode()[0], inplace=True)

    # 3. Normalize country names (e.g., USA, usa → USA)
     df['Country'] = df['Country'].str.lower().replace({'usa': 'united states', 'canada': 'canada', 'mexico': 'mexico'})

    # 4. Fix invalid dates in 'Join_Date'
    # Convert, replacing invalid dates with NaT
     df['Join_Date'] = pd.to_datetime(df['Join_Date'], errors='coerce')
    
    # 5. Trim extra spaces in 'Name'
     df['Name'] = df['Name'].str.strip()
    
    # 6. Fix negative values in 'Experience_Years'
    #df_cleaned.loc[df_cleaned['Experience_Years'] < 0, 'Experience_Years'] = df_cleaned['Experience_Years'].median()
    # by taking absolute values
    #df_cleaned['Experience_Years'] = df_cleaned['Experience_Years'].apply(lambda x: abs(x) if x < 0 else x)
    #Replace negatives with zero
    #df_cleaned['Experience_Years'] = df_cleaned['Experience_Years'].apply(lambda x: 0 if x < 0 else x)
    #Replace negatives with median
     df['Experience_Years'] = df['Experience_Years'].apply(lambda x: df['Experience_Years'].median() if x < 0 else x)

    
    # 7. Normalize 'Salary' using Min-Max Scaling
     df['Salary'] = (df['Salary'] - df['Salary'].min()) / (df['Salary'].max() - df['Salary'].min())
    #scaler = MinMaxScaler()
    #df['Salary'] = scaler.fit_transform(df[['Salary']])

    # 8. One-hot encode 'Department'
     df = pd.get_dummies(df, columns=['Department'], prefix='Dept')

     return df

# Example usage:
df_cleaned = clean_and_preprocess_data(df)


# Display cleaned DataFrame
print(df_cleaned)

    ID     Name   Age    Salary  Join_Date        Country  Experience_Years  \
0  101    Alice  25.0  0.142857 2021-01-10  united states               3.0
1  102      Bob  29.5  0.428571 2020-12-05  united states               4.0
2  103  Charlie  30.0  0.428571 2021-03-15  united states               5.0
3  104    David  45.0  1.000000 2020-11-25         canada              10.0
4  105      Eve  29.0  0.000000 2021-07-19         canada               4.0
5  106    Frank  35.0  0.714286 2021-02-22         mexico               7.0
6  107    Grace  27.0  0.285714        NaT         mexico               3.0

   Dept_Finance  Dept_HR  Dept_IT
0             0        1        0
1             0        0        1
2             0        1        0
3             1        0        0
4             0        0        1
5             1        0        0
6             1        0        0

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(
<ipython-input-114-b372f3240606>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Country'] = df['Country'].str.lower().replace({'usa': 'united states', 'canada': 'canada', 'mexico': 'mexico'})
<ipython-input-114-b372f3240606>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Join_Date'] = pd.to_datetime(df['Join_Date'], errors='coerce')
<ipython-input-114-b372f3240606>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Name'] = df['Name'].str.strip()
<ipython-input-114-b372f3240606>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Experience_Years'] = df['Experience_Years'].apply(lambda x: df['Experience_Years'].median() if x < 0 else x)
<ipython-input-114-b372f3240606>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary'] = (df['Salary'] - df['Salary'].min()) / (df['Salary'].max() - df['Salary'].min())

In [106]:
import pandas as pd
import numpy as np

def clean_and_preprocess_data(df):
    """Cleans and preprocesses the dataset by handling duplicates, missing values, 
    inconsistent data, negative values, and encoding categorical variables."""
    
    # 1. Remove duplicate IDs, keeping the first occurrence
    df = df.drop_duplicates(subset=['ID'], keep='first').copy()

    # 2. Handle missing values  
    df['Age'].fillna(df['Age'].median(), inplace=True)
    df['Salary'].fillna(df['Salary'].mean(), inplace=True)
    df['Department'].fillna(df['Department'].mode()[0], inplace=True)

    # 3. Normalize country names (e.g., USA, usa → United States)
    df['Country'] = df['Country'].str.lower().replace({
        'usa': 'united states', 
        'united states': 'united states',
        'canada': 'canada', 
        'mexico': 'mexico'
    })

    # 4. Fix invalid dates in 'Join_Date' (convert and replace invalid dates with NaT)
    df['Join_Date'] = pd.to_datetime(df['Join_Date'], errors='coerce')
    
    # 5. Trim extra spaces in 'Name'
    df['Name'] = df['Name'].str.strip()
    
    # 6. Fix negative values in 'Experience_Years' by replacing with median
    df['Experience_Years'] = df['Experience_Years'].apply(
        lambda x: df['Experience_Years'].median() if x < 0 else x
    )

    # 7. Normalize 'Salary' using Min-Max Scaling
    df['Salary'] = (df['Salary'] - df['Salary'].min()) / (df['Salary'].max() - df['Salary'].min())

    # 8. One-hot encode 'Department'
    df = pd.get_dummies(df, columns=['Department'], prefix='Dept')

    return df

# Example usage:
df_cleaned = clean_and_preprocess_data(df)

# Display cleaned DataFrame
print(df_cleaned)

    ID     Name   Age    Salary  Join_Date        Country  Experience_Years  \
0  101    Alice  25.0  0.142857 2021-01-10  united states               3.0
1  102      Bob  29.5  0.428571 2020-12-05  united states               4.0
2  103  Charlie  30.0  0.428571 2021-03-15  united states               5.0
3  104    David  45.0  1.000000 2020-11-25         canada              10.0
4  105      Eve  29.0  0.000000 2021-07-19         canada               4.0
5  106    Frank  35.0  0.714286 2021-02-22         mexico               7.0
6  107    Grace  27.0  0.285714        NaT         mexico               3.0

   Dept_Finance  Dept_HR  Dept_IT
0             0        1        0
1             0        0        1
2             0        1        0
3             1        0        0
4             0        0        1
5             1        0        0
6             1        0        0